*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    list-style: none;
}

:root{
  --cor-principal: rgb(1, 66, 106);
  --cor-botao: rgb(2, 111, 179);
  --cor-caixa: rgba(235, 232, 232, 0.486);
  --cor-borda: rgb(184, 186, 190);

}

/*------------------------------ESTRUTURA--------------------------------------*/

/*------------------------------HEADER--------------------------------------*/

.header{
  grid-column: 1 / 3;
  background: var(--cor-principal);
}

.header .menu{
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  
}

.header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img{
  height: 100%;
  width: 150px;
}

.sair{
  color: white;
  border-color: white;
}


.sair::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width .3s;
  
}

.sair:hover::after {
  width: 100%;
}

/*-----------------------------BODY---------------------------------------*/


.body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  
}

/*-----------------------------FOOTER---------------------------------------*/

footer{
  display: grid;
  grid-column: 1 / -1;
  height: 5vh;
  background-color: var(--cor-principal);
  color: white;
  text-align: center;
  align-items: center;
  
}

footer p{
  margin: 0 auto;
}